<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>hello user</h1>
  <!-- to get variable value (output tag)-->
  <%= name %>
  <% products.forEach(product => { %>
   <h3> <%= product.name %> </h3>
   <h5> <%= product.price %> </h5>
  <% }) %>
</body>
</html>